@keyframes orbit{
    0%{
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100%{
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.space{
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
}

.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    box-shadow: 0 0 20px 0 rgb(0, 42, 255);
}

.orbit{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    animation: orbit 5s linear infinite;
}

.moon{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: grey;
    box-shadow: 0 0 30px 0 rgb(146, 150, 173);
}